flow.json
[{"id":"8991d64.3b66f28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee0caf9a.ccb36","type":"inject","z":"8991d64.3b66f28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["d242d85b.e6f638"]]},{"id":"d242d85b.e6f638","type":"debug","z":"8991d64.3b66f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"e8af6a5f.f1f098","type":"inject","z":"8991d64.3b66f28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"test\":\"ahoj\"}","payloadType":"json","x":330,"y":420,"wires":[["4eb5259b.27d79c"]]},{"id":"4eb5259b.27d79c","type":"xml","z":"8991d64.3b66f28","name":"","property":"payload","attr":"","chr":"","x":580,"y":360,"wires":[["c0b198cd.965688","3277a4ae.5a40dc"]]},{"id":"c0b198cd.965688","type":"debug","z":"8991d64.3b66f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":360,"wires":[]},{"id":"a4005254.65501","type":"http in","z":"8991d64.3b66f28","name":"","url":"/requests/status","method":"get","upload":false,"swaggerDoc":"","x":290,"y":220,"wires":[["3b1c71a1.66bf8e","e6af1bdf.8ec2f8"]]},{"id":"3277a4ae.5a40dc","type":"http response","z":"8991d64.3b66f28","name":"","statusCode":"200","headers":{},"x":800,"y":320,"wires":[]},{"id":"d93b4e9e.c0ab5","type":"function","z":"8991d64.3b66f28","name":"","func":"msg.payload={\n\n    \"KL\": {\n        \"ID\": \"KLT-T5609-002\",\n        \"inDate\": \"1/10/2021\",\n        \"inTime\": \"15:04:34\",\n        \"outDate\": \"1/30/2021\",\n        \"sign\": 1\n    },\n    \"order\": {\n        \"ID\": \"00002\",\n        \"cust\": {\n            \"orgName\": \"JoTio Tech s.r.o.\",\n            \"address\": \"Palackého 2, Beroun\",\n            \"phone\": \"777714484\",\n            \"email\": \"office@jotio.tech\",\n            \"user\": \"VFN\"\n        },\n        \"device\": {\n            \"name\": \"JoTio-EX\",\n            \"factory\": \"JoTio Tech s.r.o.\",\n            \"deviceID\": \"ASNibgYJvLnu\",\n            \"probe\": {\n                \"custProbeID\": \"lednice 01\",\n                \"probeID\": \"28C2FFAD020000A9\",\n                \"NextDate\": \"2\",\n                \"probeType\": \"JO:T\",\n                \"resolution\": \"0.1\",\n                \"range\": \"(-50,125)\",\n                \"size\": \"5*50 mm\",\n                \"type\":\"2\",\n                \"coments\": \"Nové měřidlo\"\n            }\n        }\n    },\n    \"calibration\": {\n        \"inLabDate\": \"1/15/2021\",\n        \"inLabTime\": \"15:16:34\",\n        \"startDate\": \"1/15/2021\",\n        \"startTime\": \"15:20:34\",\n        \"stopTime\": \"17:20:34\",\n        \"employee\": \"Martin Míšek\",\n        \"place\": \"0\",\n        \"temperature\": \"23.7\",\n        \"humidity\": \"70%\",\n        \"etalon\": {\n            \"id\": \"1\",\n            \"type\": \"2\",\n            \"equipment\": \"1\"\n        },\n        \"point\":[ \n            {\n            \"target\": \"-10\",\n            \"correction\": \"0\",\n            \"measure\": [\n                {\n                \"value\":1,\n                \"etalon\":11\n                },\n                {\n                \"value\":2,\n                \"etalon\":12\n                },                \n                {\n                \"value\":3,\n                \"etalon\":13\n                },                \n                {\n                \"value\":4,\n                \"etalon\":14\n                },               \n                {\n                \"value\":5,\n                \"etalon\":15\n                },                \n                {\n                \"value\":6,\n                \"etalon\":16\n                },                \n                {\n                \"value\":7,\n                \"etalon\":17\n                },                \n                {\n                \"value\":8,\n                \"etalon\":18\n                },                \n                {\n                \"value\":9,\n                \"etalon\":19\n                },                \n                {\n                \"value\":10,\n                \"etalon\":20\n                }\n                ]      \n            },\n            {\n            \"target\": \"0\",\n            \"correction\": \"0\",\n            \"measure\": [\n                {\n                \"value\":21,\n                \"etalon\":31\n                },\n                {\n                \"value\":22,\n                \"etalon\":32\n                },                \n                {\n                \"value\":23,\n                \"etalon\":33\n                },                \n                {\n                \"value\":24,\n                \"etalon\":34\n                },               \n                {\n                \"value\":25,\n                \"etalon\":35\n                },                \n                {\n                \"value\":26,\n                \"etalon\":36\n                },                \n                {\n                \"value\":27,\n                \"etalon\":37\n                },                \n                {\n                \"value\":28,\n                \"etalon\":38\n                },                \n                {\n                \"value\":29,\n                \"etalon\":39\n                },                \n                {\n                \"value\":30,\n                \"etalon\":40\n                }\n                ]      \n            },\n            {\n            \"target\": \"10\",\n            \"correction\": \"0\",\n            \"measure\": [\n                {\n                \"value\":41,\n                \"etalon\":51\n                },\n                {\n                \"value\":42,\n                \"etalon\":52\n                },                \n                {\n                \"value\":43,\n                \"etalon\":53\n                },                \n                {\n                \"value\":44,\n                \"etalon\":54\n                },               \n                {\n                \"value\":45,\n                \"etalon\":55\n                },                \n                {\n                \"value\":46,\n                \"etalon\":56\n                },                \n                {\n                \"value\":47,\n                \"etalon\":57\n                },                \n                {\n                \"value\":48,\n                \"etalon\":58\n                },                \n                {\n                \"value\":49,\n                \"etalon\":59\n                },                \n                {\n                \"value\":50,\n                \"etalon\":60\n                }\n                ]      \n            }\n        ]\n        \n    }\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":300,"wires":[["4eb5259b.27d79c"]]},{"id":"3b1c71a1.66bf8e","type":"debug","z":"8991d64.3b66f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]},{"id":"373d4a32.952706","type":"function","z":"8991d64.3b66f28","name":"","func":"msg.payload={\n    \"test\":\"ahoj\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":180,"wires":[[]]},{"id":"20a71fe8.b1c87","type":"inject","z":"8991d64.3b66f28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"KL\":{\"ID\":\"KLT-T5609-002\",\"inDate\":\"1/10/2021\",\"inTime\":\"15:04:34\",\"outDate\":\"1/30/2021\",\"sign\":1},\"order\":{\"ID\":\"00002\",\"cust\":{\"orgName\":\"JoTio Tech s.r.o.\",\"address\":\"Palackého 2, Beroun\",\"phone\":\"777714484\",\"email\":\"office@jotio.tech\",\"user\":\"VFN\"},\"device\":{\"name\":\"JoTio-EX\",\"factory\":\"JoTio Tech s.r.o.\",\"deviceID\":\"ASNibgYJvLnu\",\"probe\":{\"custProbeID\":\"lednice 01\",\"probeID\":\"28C2FFAD020000A9\",\"CTR\":\"-10,0,10\",\"NextDate\":\"13/30/2022\",\"probeType\":\"JO:T\",\"resolution\":\"0.1\",\"range\":\"-50,125\",\"size\":\"5*50 mm\",\"coments\":\"Nové měřidlo\"}}},\"calibration\":{\"inLabDate\":\"1/15/2021\",\"inLabTime\":\"15:16:34\",\"processDate\":\"1/15/2021\",\"startTime\":\"15:20:34\",\"stopTime\":\"17:20:34\",\"employee\":\"Martin Míšek\",\"place\":\"0\",\"temperatur\":\"23,7\",\"humidity\":\"80%\",\"etalon\":{\"id\":\"1\",\"type\":\"2\",\"equipment\":\"1\"},\"pointA\":{\"target\":\"-10\",\"correction\":\"0\",\"measure\":[[25.2,25.3],[25.2,25.3]]}}}","payloadType":"json","x":310,"y":360,"wires":[["4eb5259b.27d79c"]]},{"id":"e6af1bdf.8ec2f8","type":"switch","z":"8991d64.3b66f28","name":"","property":"payload.token","propertyType":"msg","rules":[{"t":"eq","v":"123","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":260,"wires":[["d93b4e9e.c0ab5"],["174c3548.62d65b"]]},{"id":"174c3548.62d65b","type":"http response","z":"8991d64.3b66f28","name":"","statusCode":"404","headers":{},"x":621,"y":253,"wires":[]}]